<a href="https://colab.research.google.com/github/jeevan97achar/pythonDSA/blob/main/DataStructuresAndAlgorithms.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Algorithm Analysis and Big O
### Introduction to Algorithm Amalysis and Big O

In [ ]:
# Finding the summation of N integers

def sum1(n):
  '''Take and input interger n and return the sum of the numbers from 0 to n'''
  final_sum = 0
  for x in range(n+1):
    final_sum += x

  return final_sum

In [ ]:
sum1(10)

55

In [ ]:
# Find the same sum but with a different approach

def sum2(n):
  return (n*(n+1))/2

In [ ]:
sum2(10)

55.0

In [ ]:
# Check the time to the above two functions
%timeit sum1(100)

5.81 µs ± 112 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [ ]:
%timeit sum2(100)

173 ns ± 0.709 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

##### The first function's execution time is in micro seconds whereas the second function's execution time is in nano seconds. But we cannot conclude the efficiencies of the functions based on the %timeit function's time, because this depends on the hardware capabilities. So we need a different method, Big-O!

## Big O Examples

#### O(1) Constant

In [ ]:
def func_constant(values):
  print(values[0])

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
func_constant(lst)

1

#### O(n) Linear

In [ ]:
def func_lin(lst):
  for val in lst:
    print(val)

In [ ]:
func_lin(lst)

1
2
3
4
5
6
7
8
9

In [ ]:
def func_quad(lst):
    '''
    Prints pairs for every item in list.
    '''
    for item_1 in lst:
        for item_2 in lst:
            print(item_1,item_2)
            
lst = [0, 1, 2, 3]

func_quad(lst)

0 0
0 1
0 2
0 3
1 0
1 1
1 2
1 3
2 0
2 1
2 2
2 3
3 0
3 1
3 2
3 3

### Dynamic Array

In [ ]:
import sys

# Set n
n = 10

data = []

for i in range(n):

  # Number of elements
  a = len(data)

  # Actual size in Bytes
  b = sys.getsizeof(data)

  print('Length: {0:3d}; Size in bytes: {1:4d}'.format(a,b))

  # Increase length by one
  data.append(n)

Length:   0; Size in bytes:   56
Length:   1; Size in bytes:   88
Length:   2; Size in bytes:   88
Length:   3; Size in bytes:   88
Length:   4; Size in bytes:   88
Length:   5; Size in bytes:  120
Length:   6; Size in bytes:  120
Length:   7; Size in bytes:  120
Length:   8; Size in bytes:  120
Length:   9; Size in bytes:  184

### Dynamic Array Exercise

In [ ]:
class M(object):
    
    def public(self):
        print('Use Tab to see me!')
        
    def _private(self):
        print("You won't be able to Tab to see me!")

In [ ]:
m = M()

In [ ]:
import ctypes

class DynamicArray(object):
  def __init__(self):
    self.n = 0
    self.capacity = 1
    self.A = self.make_array(self.capacity)

  def __len__(self):
    return self.n

  def __getitem__(self,k):
        if not 0<= k < self.n:
          return IndexError('K is out of bounds!')
        
        return self.A[k]

  def append(self,ele):
    if self.n == self.capacity:
      self._resize(2*self.capacity)

    self.A[self.n] = ele
    self.n += 1
  
  def _resize(self, new_capacity):
    B = self.make_array(new_capacity)

    for k in range(self.n):
      B[k] = self.A[k]

    self.A = B
    self.capacity = new_capacity

  def make_array(self,new_capacity):
    return (new_capacity*ctypes.py_object)()

In [ ]:
myArray = DynamicArray()

In [ ]:
myArray.append(6)
myArray.append(4)
myArray.append(2)

In [ ]:
len(myArray)

3

In [ ]:
myArray[2]

2

### My Solution to the Anagram problem

In [ ]:
def anagramCheck(str1, str2):
  arr1 = list(str1.replace(" ", "").lower())
  arr2 = list(str2.replace(" ", "").lower())

  if len(arr1) == len(arr2):

    for k in range(len(arr1)):
      if arr1[k] in arr2:
        arr2.remove(arr1[k])
      else:
        return False
        break

    if len(arr2) == 0:

      return True

  else:
    return False

In [ ]:
%timeit anagramCheck('dog','god')

2.21 µs ± 790 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

### Udemy Solution for the anagram solution

In [ ]:
def anagram2(str1, str2):
  print(str1)
  s1 = str1.replace(" ", "").lower()
  s2 = str2.replace(" ", "").lower()

  if len(s1) != len(s2):
    return False

  count = {}
  
  for letter in s1:
    if letter in count:
      count[letter] += 1
    else:
      count[letter] = 1

  for letter in s2:
    if letter in count:
      count[letter] -=1
    else:
      count[letter] = 1

  for k in count:
    if count[k] != 0:
      return False
  
  return True

In [ ]:
anagram2('doog','good')

doog
{'d': 1, 'o': 2, 'g': 1}
{'d': 0, 'o': 0, 'g': 0}

True

In [ ]:
def anagramCheck2(str1,str2):

  s1 = str1.replace(' ','').lower()
  s2 = str2.replace(' ','').lower()

  if len(s1) != len(s2):
    return False

  count = {}

  for letter in s1:
    if letter in count:
      count[letter] += 1
    else:
      count[letter] = 1

  for letter in s2:
    if letter in count:
      count[letter] -= 1
    else:
      count[letter] = 1

  for k in count:
    if count[k] != 0:
      return False

  return True

In [ ]:
anagramCheck2('dog','god')

True

In [ ]:
# Pick one number and then add that number with the next num and then the next

temp_array = set()

def problem2(arr, num):
  for ele in arr:
    for k in range(len(arr)):
      sum = ele + arr[k]
      if sum == num:
        temp_array.add((ele,arr[k]))

  print(temp_array)

In [ ]:
%time problem2([1,3,2,2],4)

{(3, 1), (1, 3), (2, 2)}
CPU times: user 1.06 ms, sys: 0 ns, total: 1.06 ms
Wall time: 1.89 ms

In [ ]:
def pair_sum(arr,k):
  if len(arr) < 2:
    return

  seen = set()
  output = set()

  for num in arr:

    target = k-num

    if target not in seen:
      seen.add(num)

    else:
      output.add((min(num,target), max(num,target)))

    print('-----------------')
    print('Seen:',seen)
    print('Output:',output)

  return len(output)

In [ ]:
%time pair_sum([1,3,2,2],4)

-----------------
Seen: {1}
Output: set()
-----------------
Seen: {1}
Output: {(1, 3)}
-----------------
Seen: {1, 2}
Output: {(1, 3)}
-----------------
Seen: {1, 2}
Output: {(1, 3), (2, 2)}
CPU times: user 5.2 ms, sys: 0 ns, total: 5.2 ms
Wall time: 5.77 ms

2

In [ ]:
# Finding the missing element

def findMissing(arr1, arr2):
  temp_1 = []
  temp_2 = []
  missing_num = 0
  if len(arr1) > len(arr2):
    temp_1 = arr1
    temp_2 = arr2
  else:
    temp_1 = arr2
    temp_2 = arr1

  for item in temp_1:
    if item not in temp_2:
      missing_num = item
    else:
      continue

  return missing_num

In [ ]:
arr1 = [1,2,3,4,5,8,6,7]
arr2 = [3,7,2,1,5,4,6]

%time findMissing(arr1, arr2)

CPU times: user 8 µs, sys: 1e+03 ns, total: 9 µs
Wall time: 12.2 µs

8

In [ ]:
import collections

def finder(arr1, arr2):
  d = collections.defaultdict(int)

  for num in arr2:
    d[num]+=1

  for num in arr1:
    if d[num] == 0:
      return num

    else: d[num]-=1

In [ ]:
arr1 = [1,2,3,4,5,8,6,7]
arr2 = [3,7,2,1,5,4,6]

%time finder(arr1, arr2)

CPU times: user 18 µs, sys: 0 ns, total: 18 µs
Wall time: 22.2 µs

8

In [ ]:
def finder2(arr1,arr2):

  arr1.sort()
  arr2.sort()

  print(arr1)
  print(arr2)
  print(list(zip(arr1,arr2)))

  for num1, num2 in zip(arr1,arr2):
    if num1 != num2:
      return num1
    
  return arr1[-1]

In [ ]:
arr1 = [1,2,3,4,5,8,6,7]
arr2 = [3,7,2,1,5,4,6]

%time finder2(arr1, arr2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7]
[(1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6), (7, 7)]
CPU times: user 3.17 ms, sys: 0 ns, total: 3.17 ms
Wall time: 3.25 ms

8

#### Here I learnt about the zip() method in python.

In [5]:
nums1 = [4,9,5]
nums2 = [9,4,9,8,4]

def intersection(nums1, nums2): 
  temp=[]
  count=0

  if len(nums1) < len(nums2):
    nums1 = nums2
    nums2 = nums1

    print(nums1)
    print(nums2)


  for num in nums2:
    if num in nums1:
      temp.append(num)

  return temp


intersection(nums1, nums2)

[9, 4, 9, 8, 4]
[9, 4, 9, 8, 4]

[9, 4, 9, 8, 4]

In [2]:
nums1 = [4,9,5]
nums2 = [9,4,9,8,4]

def intersect(nums1, nums2):
    count = {}
    result = []
    # store count of each element in nums1
    for num in nums1:
        if num in count:
            count[num] += 1
        else:
            count[num] = 1
    # check each element in nums2
    for num in nums2:
        if num in count and count[num] > 0:
            result.append(num)
            count[num] -= 1
    return result

intersect(nums1, nums2)

[9, 4]

In [ ]:
nums1 = [4,9,5]
nums2 = [9,4,9,8,4]

def intersect(nums1, nums2):
    count = {}
    result = []
    # store count of each element in nums1
    for num in nums1:
        if num in count:
            count[num] += 1
        else:
            count[num] = 1
    # check each element in nums2
    for num in nums2:
        if num in count and count[num] > 0:
            result.append(num)
            count[num] -= 1
    return result

intersect(nums1, nums2)